<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garlane.relation.truefalse.dao.WebConfigConditionDao">
	
	<sql id="allFields">
		flag, condition_type, condition, tips
	</sql>
	
	<select id="loadByPoJo" resultType="com.garlane.relation.truefalse.model.WebConfigConditionModel">
		select <include refid="allFields"></include> from web_config_condition t 
		<if test="_parameter != null">
			<where>
			 	 <if test="flag !=null and flag !=''">
			 	 	t.flag = #{flag}
			 	 </if>
			 	 <if test="conditionType != null and conditionType !=''">
			 	 	t.condition_type = #{conditionType}
			 	 </if>
			</where>
		</if>
		 	 order by t.flag asc
	</select>
	
	<select id="loadByUuid" resultType="com.garlane.relation.truefalse.model.WebConfigConditionModel">
		select <include refid="allFields"></include> from web_config_condition t 
		where t.flag = #{uuid}
	</select>
	
	<insert id="add">
		insert into web_config_condition(flag, condition_type, condition, tips)
		values(#{flag},#{conditionType},#{condition},#{tips})
	</insert>
	
	<delete id="deleteByUuids">
		delete from web_config_condition 
		where flag in
		<foreach collection="uuids" item="flag" index="index" open="(" close=")" separator=",">
			#{flag}
		</foreach>
	</delete>
	
	<update id="updateSelective">
		update web_config_condition
   	   <set> 
   	   		<if test="conditionType !=null ">
		   	   condition_type = #{conditionType},
   	   		</if>
   	   		<if test="condition != null and condition != ''">
		       condition = #{condition},
   	   		</if>
   	   		<if test="tips != null and tips !=''">
   	   			tips = #{tips},
   	   		</if>
       </set>
 	   where flag = #{flag}
	</update>
</mapper>